{% extends "portfolio/base.html" %}



{% load static %}



{% block content %}




<div class="row justify-content-center my-3">

  <div class="col-3">

    <img src="{% static 'portfolio/PromPic.jpg' %}" class="img-fluid">

    
  </div>

</div>



<div class="row justify-content-center mb-3">

  <div class="col-md-9 text-center">

    <h1 id="hometext" class="font-weight-bold">Dillon Lee is a computer scientist/entrapanuer/artist living in College Station Texas 😊</h1>

  </div>

</div>



<h2 class="mt-5">Portfolio</h2>

<hr>

<div class="row">

  {% for project in projects %}

   <div class="row justify-content-center no-gutters mb-3 mb-lg-3">



    {% if project.url %}

    <a href="{{ project.url }}">

      <img src="{{ project.image.url }}" class="card-img-top">

    </a>

    {% else %}



    <div class="col-md-9 col-lg-9">
        <img class="img-fluid mb-3 mb-lg-0" src="{{ project.image.url }}">
    </div>

    {% endif %}

  <div class="col-xl-9 col-lg-9">
     <div class="featured-text text-center text-lg-center">
         <h4>{{ project.title }}</h4>
         <p class="text-black-50 mb-0">{{ project.description }}</p>
     </div>
  </div>



  </div>

  {% endfor %}

</div>



{% endblock %}

 